.alignement{
	background-color: lightgreen;
}
.element{
	background-color: lightsalmon;
	padding: 10px 0px;
	padding-left: 20px;
}

label{
	width: 150px;
	display: inline-block;
}

#send{
	margin-left: 345px;
}

.echo{
	color: white;
	border:2px solid black;
	text-align: center;
	background-color: red;
	width: 500px;
}